@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto/Roboto-Light.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}	
#header{
	background: linear-gradient(#000000c3,#000000ce), url(./img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	position: relative;
}
.header-container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	align-items: center;
}
.number a{
	color: white;
	font-size: 25px;
	text-decoration: none;
	padding-right: 80px;
	font-family: Roboto ,sans-serif;
	font-weight: bold;
}
.navbar-info{
	display: flex;
	justify-content: space-between;
}
.menu-btn{
  display: flex;
	position: absolute;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
	right: 70px;
	top: 70px;
	z-index: 3;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: .25s;
}
.menu-btn > span:hover{
	background: #FFC50E;
}
.menu-btn > span::before:hover{
	background: #FFC50E;
}
.menu-btn > span::after:hover{
	background: #FFC50E;
}


.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
.menubox{
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 543px;
	height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
	background: #000000;
  transition-duration: .25s;
	z-index: 1;
}
.menu-item {
  display: block;
  padding: 0 0 20px 50px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
	margin-top: 30px;
}
.menu-item:hover{
	color: #FFC50E;
}
#menu-toggle{
  opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  right: 0;
}
.button-menu{
	height: 44px;
	width: 220px;
	border-radius: 2px;
	background: #518F07;
	display: block;
	margin: 80px 0 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.button-menu:hover{
	background: #77B82A;
}
.button-feedback{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
}
.button-feedback:hover{
	color: #FFFFFF;
	text-decoration: none;
}
.header-title{
	margin-top: 100px;
	width: 100%;
}
.others-color{
 color: #77B82A;
 margin-left: 20px;
}
.header-title h1{
	color: #FFFFFF;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.header-title h2{
color: #FFFFFF;
font-family: 'Roboto';
margin-bottom: 40px;
padding-left: 70px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
position: relative;
}
.header-title h2:before{
	content:'';
	background: url(./img/Arrow\ 1.png);
	width: 57px;
	height: 24px;
	position: absolute;
	left: 0;
	top: 3px;
}
.header-buttons{
	display: flex;
	align-items: center;
}
.sign-up{
	background: url(./img/sign\ up.svg);
	height: 44px;
	width: 220px;
	border-radius: 2px;
	margin-right: 20px;
	border: 1px solid #FFC50E;
}
.sign-up:hover{
	background: url(./img/sign\ up\ yellow.svg);
	height: 44px;
	width: 220px;
	border-radius: 2px;
	border: 1px solid #FF9900;
	transition: 0.3s;
}
.download{
	background: url(./img/download.svg);
	height: 44px;
	width: 220px;
	border: 1px solid #FFC50E;
	border-radius: 2px;
	cursor: pointer;
}
.download:hover{
	background: url(./img/download\ yellow.svg);
	height: 44px;
	width: 220px;
	border-radius: 2px;
	border: 1px solid #FFC50E;
	transition: 0.3s;
}
.lern-more{
	background: url(./img/lern-more.svg);
  width: 191px;
  height: 102px;
	display: block;
}
.lern-more:hover{
	background: url(./img/lern-more\ yellow.svg);
	width: 191px;
  height: 102px;
	display: block;
}
.header-choice{
	display: flex;
	justify-content: space-between;	
	align-items: center;
	width: 80%;
	margin-top: 50px;
}
.header-ctrip{
	width: 100%;
	border-bottom: 2px dotted #FFFFFF;
	opacity: 0.5;
	margin: 50px 0px 30px;
}
.header-description-icon{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header-description-icon>div{
	height: 50px;
}
.header-description-icon p{
color: #FFFFFF;
font-family: 'Roboto';
font-size: 16px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0em;
text-align: left;
padding: 15px 0px 0px 50px;
}
.icon-tree{
	background: url(./img/tree.svg);
	background-repeat: no-repeat;
}
.icon-tree:hover{
	background: url(./img/tree\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.icon-house{
	background: url(./img/house.svg);
	background-repeat: no-repeat;
}
.icon-house:hover{
	background: url(./img/house\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.icon-shop{
	background: url(./img/shop.svg);
	background-repeat: no-repeat;
}
.icon-shop:hover{
	background: url(./img/shop\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.icon-map{
	background: url(./img/map.svg);
	background-repeat: no-repeat;
}
.icon-map:hover{
	background: url(./img/map\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.project-description-container{
	margin: 80px 0 80px;
}
.regarding-the-project-container{
	max-width: 1170px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.respecting-project-title h3{
	font-family: 'Roboto';
	font-size: 60px;
	font-weight: 300;
	line-height: 70px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #333333;
	text-transform: uppercase;
	display: inline;
	position: relative;
}
.respecting-project-title h3:after{
	content:'';
	background: url(./img/Green\ Line.svg);
	border: 1px solid #77B82A;
 	width: 103px;
	position: absolute;
	right: -70px;	
	top: 100%;
}
.respecting-project-title{
	position: relative;
	max-width: 1170px;
	margin: 0 auto 100px auto;
}
.planning{
	background: url(./img/Plaining\ 1.svg);
	height: 565.6830444335938px;
	width: 769.999755859375px;
	position: sticky;
	top: 0;
}
.info{
	width: 30%;
	padding-right: 20px;
}
.info-about-green h6{
	font-family: 'Roboto-Regular';
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #333;
	text-transform: uppercase;
}
.info-about-green p{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin: 20px 0 30px 0;
}
.info-about-placing p{
	font-family: 'Roboto-Regular';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 30px;
}
.info-about-placing ul li{
	flex-wrap: wrap;
	font-family: 'Roboto-Regular';
	font-size: 17px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0em;
	color: #000000;	
	position: relative;
	padding-left: 20px;
}
.info-about-placing ul li:before{
	content:'';
	background-color: #77B82A;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 8px;
}
.info-about-houses h6{
	font-family: 'Roboto-Regular';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #333333;
	padding: 50px 0 30px 0;
}
.info-about-houses ul li{
	position: relative;
	line-height: 1.8;
	font-family: 'Roboto-Regelar';
	font-style: normal;
	font-size: 17px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	padding-left: 40px;
}
.block-a::before{
	content: '';
	background: url(./img/23.svg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	position: absolute;
	left: 0px;
	top: 13px;
	color: #77B82A;
	width: 302px;
	height: 265px;
	background-repeat: no-repeat;
	text-align: right;
}
.block-b::after{
	content: '';
	background: url(./img/150.svg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	position: absolute;
	left: -15px;
	top: 15px;
	color: #77B82A;
	background-repeat: no-repeat;
	width: 49px;
	height: 33px;
}
.block-c::before{
	content: '';
	background: url(./img/10.svg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	position: absolute;
	left: 0;
	top: 13px;
	color: #77B82A;
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
}
.block-e::before{
	content: '';
	background: url(./img/12.svg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	position: absolute;
	left: 0px;
	top: 0px;
	color: #77B82A;
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
}
.block-f::before{
	content: '';
	background: url(./img/1.svg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	position: absolute;
	left: 18px;
	top: 5px;
	color: #77B82A;
	background-repeat: no-repeat;
	width: 17px;
	height: 33px;
}
.info-about-service h6{
	font-family: 'Roboto-Regular';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #333333;
	height: 28px;
	width: 355px;
	margin: 30px 0 60px 0;
}
.info-about-service p{
	font-family: 'Roboto-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	color: #000000;
}
.gallery-title{
	max-width: 1170px;
	margin: 0 auto 50px auto;
}
.gallery-title h3{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #333333;
	position: relative;
	display: inline;
}
.gallery-title h3::after{
	content:'';
	background: url(./img/Green\ Line.svg);
	width: 103px;
	right: -70px;
	top: 100%;
	position: absolute;
	border: 1px solid #77B82A
}
.gallery-picture-a{
	background: url(./img/Gallery\ a.png);
	width: 640px;
	height: 470px;
}
.gallery-picture-a:hover{
	background: url(./img/bg\ gallery.png) , url(./img/Gallery\ a.png);
	transition: 1s;
}
.gallery-picture-b{
	background: url(./img/Gallery\ b.png);
	width: 640px;
	height: 470px;
}
.gallery-picture-b:hover{
	background: url(./img/bg\ gallery.png) , url(./img/Gallery\ b.png);
	transition: 1s;
}
.gallery-picture-c{
	background: url(./img/Gallery\ c.png);
	width: 640px;
	height: 470px;
}
.gallery-picture-c:hover{
	background: url(./img/bg\ gallery.png) , url(./img/Gallery\ c.png);
	transition: 1s;
}
.gallery-picture-d{
	background: url(./img/Gallery\ d.png);
	width: 640px;
	height: 470px;
}
.gallery-picture-d:hover{
	background: url(./img/bg\ gallery.png) , url(./img/Gallery\ d.png);
	transition: 1s;
}
.gallery-picture-e{
	background: url(./img/Gallery\ e.png);
	width: 640px;
	height: 470px;
}
.gallery-picture-e:hover{
	background: url(./img/bg\ gallery.png) , url(./img/Gallery\ e.png);
	transition: 1s;
}
.gallery-picture-f{
	background: url(./img/Gallery\ f.png);
	width: 640px;
	height: 470px;
}
.gallery-picture-f:hover{
	background: url(./img/bg\ gallery.png) , url(./img/Gallery\ f.png);
	transition: 1s;
}



