@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto/Roboto-Light.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#header{
	background: linear-gradient(#000000c3,#000000ce), url(./img/bg-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.header-container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	align-items: center;
}
.number a{
	color: white;
	font-size: 24px;
	text-decoration: none;
	padding-right: 15px;
}
.burger{
	background: url(./img/burger\ white.svg);
	height: 27px;
	width: 38px;
	border-radius: nullpx;
}
.burger:hover{
	background: url(./img/burger\ yellow.svg);
	height: 27px;
	width: 38px;
	border-radius: nullpx;
	color: #FFC50E;
}
.navbar-info{
	display: flex;
	justify-content: space-between;
}
.header-title{
	margin-top: 100px;
	width: 100%;
}
.others-color{
 color: #77B82A;
 margin-left: 20px;
}
.header-title h1{
	color: #FFFFFF;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.header-title h2{
color: #FFFFFF;
font-family: 'Roboto';
padding-bottom: 40px;
padding-left: 70px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
position: relative;
}
.header-title h2:before{
	content:'';
	background: url(./img/Arrow\ 1.png);
	width: 57px;
	height: 24px;
	position: absolute;
	left: 0;
	top: 3px;
}
.header-buttons{
	display: flex;
	align-items: center;
}
.sign-up{
	background: url(./img/sign\ up.svg);
	height: 44px;
	width: 220px;
	border-radius: 2px;
	margin-right: 20px;
	border: 1px solid #FFC50E;
}
.sign-up:hover{
	background: url(./img/sign\ up\ yellow.svg);
	height: 44px;
	width: 220px;
	border-radius: 2px;
	border: 1px solid #FF9900;
	transition: 0.3s;
}
.download{
	background: url(./img/download.svg);
	height: 44px;
	width: 220px;
	border: 1px solid #FFC50E;
	border-radius: 2px;
	cursor: pointer;
}
.download:hover{
	background: url(./img/download\ yellow.svg);
	height: 44px;
	width: 220px;
	border-radius: 2px;
	border: 1px solid #FFC50E;
	transition: 0.3s;
}
.lern-more{
	background: url(./img/lern-more.svg);
  width: 191px;
  height: 102px;
	display: block;
}
.lern-more:hover{
	background: url(./img/lern-more\ yellow.svg);
	width: 191px;
  height: 102px;
	display: block;
}
.header-choice{
	display: flex;
	justify-content: space-between;	
	align-items: center;
	width: 80%;
	margin-top: 50px;
}
.header-ctrip{
	width: 100%;
	border-bottom: 2px dotted #FFFFFF;
	opacity: 0.5;
	margin: 50px 0px 30px;
}
.header-description-icon{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header-description-icon>div{
	height: 50px;
}
.header-description-icon p{
color: #FFFFFF;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0em;
text-align: left;
padding: 15px 0px 0px 50px;
}
.icon-tree{
	background: url(./img/tree.svg);
	background-repeat: no-repeat;
}
.icon-tree:hover{
	background: url(./img/tree\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.icon-house{
	background: url(./img/house.svg);
	background-repeat: no-repeat;
}
.icon-house:hover{
	background: url(./img/house\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.icon-shop{
	background: url(./img/shop.svg);
	background-repeat: no-repeat;
}
.icon-shop:hover{
	background: url(./img/shop\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
.icon-map{
	background: url(./img/map.svg);
	background-repeat: no-repeat;
}
.icon-map:hover{
	background: url(./img/map\ green.svg);
	background-repeat: no-repeat;
	transition: 0.5s;
}
